@import url("./nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap");

/* COMMON CLS */

.number {
  font-family: Inter;
  font-weight: 500;
  white-space: nowrap;
}

.apps {
  display: flex;
  gap: 5px;
}

.emphasize {
  font-weight: 900;
  background: var(--gradient, linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
}

.mobile-show {
  display: none;
}

body {
  background: var(--black, #0e1014);
  color: var(--light-text, #e4e5ea);
  font-size: 16px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
}

a {
  color: var(--light-text, #e4e5ea);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 57px 10px 20px;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header__part1 {
  flex: 0 1 61%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header__logo {
  flex: 0 1 20%;
}

.logo__icons {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 10px;
}

.logo__part1 {
  max-width: 35px;
  height: 24px;
}

.logo__part2 {
  max-width: 97px;
  height: 15px;
}

.logo__subtext {
  color: #e4e5ea;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
}

.header__nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  flex: 0 1 72.5%;
  padding-top: 3px;
  gap: 10px;
}

.nav__item {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex: 0 1 27%;
  padding-top: 3px;
}

.header__number {
  flex: 0 1 46.5%;
}

.header__apps {
  flex: 0 1 38%;
  justify-content: space-between;
}

.header__app {
  width: 20px;
  height: 20px;
}

/* MAIN */

.main {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
  position: relative;
}

.main__title {
  flex: 0 1 31%;
}

.title__basis {
  font-size: 48px;
  font-weight: 400;
  font-family: Inter;
}

.title__subtitle {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}

.main__info {
  flex: 0 1 26.8%;
  text-align: right;
  margin-top: 17px;
}

.main-info__title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.main-info__emphasize {
  font-weight: 700;
  letter-spacing: 0.7px;
}

.main-info__gifts {
  margin-top: 42px;
}

.gifts-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.gift__name {
  text-transform: uppercase;
  text-align: right;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.gift__info {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  margin-top: 7px;
  line-height: 1.2;
}

.main-info__button {
  max-width: 262px;
  height: 61px;
  background: #4077f3;
  margin-top: 61px;
  width: 100%;
  border: none;
}

.main-button__text {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  color: var(--light-text, #e4e5ea);
}

/* FOOTER */

.footer {
  margin-top: 124px;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  flex: 0 1 61%;
  gap: 10px;
}

.footer-company {
  flex: 0 1 28%;
}

.footer-title {
  color: var(--dark-gray, #656566);
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}

.footer-nav__item {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.footer-menu {
  flex: 0 1 58%;
}

.footer-menu__box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer__contacts {
  text-align: right;
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.footer-contacts__title {
  margin-bottom: 0;
}

.footer-contacts__apps {
  justify-content: end;
  gap: 10px;
}

.footer-contacts__address {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.footer__info {
  margin-top: 32px;
  padding-bottom: 20px;
}

.info-footer__text {
  text-align: right;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.info-footer__text:last-child {
  text-decoration: underline;
}

.ball {
  position: absolute;
  filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(1px);
}

.purple-ball {
  flex-shrink: 0;
  max-width: 60px;
  fill: radial-gradient(
    82.3% 82.3% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%,
    rgba(118, 49, 164, 0.21) 78.59%,
    rgba(86, 24, 128, 0.23) 100%
  );

  top: -54%;
  left: 62%;
}

.red-ball {
  max-width: 83px;
  fill: radial-gradient(
    82.3% 82.3% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.25) 59.67%,
    rgba(167, 49, 49, 0.26) 78.59%,
    rgba(130, 25, 25, 0.23) 100%
  );

  top: -35%;
  left: 31%;
}

.red-ball-mini {
  max-width: 28px;
  top: 85%;
  left: 60%;
}

.light {
  filter: blur(196px);
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

.purple-light {
  max-width: 259px;
  height: 259px;
  border-radius: 259px;
  background: #833ab4;
  top: -95%;
  left: 40%;
}

.red-light {
  width: 311px;
  height: 311px;
  border-radius: 311px;
  background: #961a1a;
  filter: blur(196px);
  top: 10%;
  left: -21%;
}

@media (max-width: 850px) {
  .header__contacts {
    flex-direction: column;
  }

  .header__apps {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px 60px;
  }

  .header {
    display: block;
    padding: 17px 5px 20px 0px;
    text-transform: uppercase;
  }

  .header__part1 {
    display: block;
  }

  .header__nav {
    justify-content: space-between;
  }

  .header__logo {
    display: none;
  }

  .header__contacts {
    display: none;
  }

  .main {
    margin-top: 0;
    display: block;
    padding: 40px 0 55px;
  }

  .main__title {
    text-align: justify;
  }

  .title__subtitle {
    margin-top: 15px;
  }

  .main__info {
    margin-top: 45px;
    text-align: center;
    padding-top: 0;
    text-align: left;
  }

  .footer__main {
    text-align: justify;
  }

  .footer-menu__box {
    justify-content: start;
  }

  .footer__nav {
    flex-direction: column;
    gap: 30px;
  }

  .footer__contacts {
    text-align: left;
  }

  .footer-contacts__apps {
    justify-content: start;
  }

  .footer__info {
    text-align-last: left;
  }
}

@media (max-width: 478px) {
  .container {
    overflow: hidden;
  }

  .nav__item {
    font-size: 12px;
  }

  .title__basis {
    font-size: 36px;
  }

  .main-info__emphasize {
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 700;
  }

  .main-info__gifts {
    margin-top: 20px;
  }

  .gifts-list {
    row-gap: 15px;
    column-gap: 0px;
    grid-template-columns: repeat(2, 124px);
  }

  .gifts-list__item:nth-child(3) {
    order: -1;
  }

  .gift__name {
    font-size: 13px;
    letter-spacing: 0.65px;
    position: relative;
    font-family: Montserrat;
    white-space: nowrap;
  }

  .gift__name::before {
    content: "";
    width: 10px;
    height: 1px;
    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
    position: absolute;
    top: 45%;
    left: 5%;
  }

  .gift__info {
    display: none;
  }

  .main-info__button {
    display: none;
  }

  .footer {
    margin-top: 0;
    padding: 44px 0 60px;
  }

  .footer-nav__title {
    margin-bottom: 20px;
    font-size: 12px;
    letter-spacing: 0.6px;
  }

  .footer__main {
    display: block;
  }

  .footer-menu__box {
    gap: 47px;
  }

  .footer-nav__list {
    gap: 10px;
  }

  .footer-nav__item {
    font-size: 14px;
    white-space: normal;
  }

  .footer__contacts {
    margin-top: 30px;
    gap: 10px;
  }

  .footer-contacts__title {
    margin-bottom: 8px;
  }

  .footer__app {
    width: 24px;
  }

  .footer-contacts__address {
    font-size: 14px;
  }

  .info-footer {
    margin-top: 50px;
  }

  .desktop-show {
    display: none;
  }

  .mobile-show {
    display: block;
    order: -1;
  }

  .purple-ball {
    top: 50%;
    left: 92%;
    filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
    backdrop-filter: blur(2px);
  }

  .red-ball {
    top: 90%;
    left: 0%;
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
    backdrop-filter: blur(2px);
  }

  .red-ball-mini {
    display: none;
  }

  .red-light {
    top: 55%;
    left: -60%;
    width: 211px;
    height: 210px;
  }

  .purple-light {
    left: 80%;
    top: 25%;
    width: 259px;
    height: 259px;
  }
}
