@import url("./nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap");

body {
  background: var(--black, #0e1014);
  color: var(--light-text, #e4e5ea);
  font-size: 16px;
  line-height: normal;
  font-style: normal;
}

a {
  color: var(--light-text, #e4e5ea);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 46px 10px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header__part1 {
  flex: 0 1 61%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header__logo {
  flex: 0 1 20%;
}

.logo__icons {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 10px;
}

.logo__part1 {
  max-width: 35px;
  height: 24px;
}

.logo__part2 {
  max-width: 97px;
  height: 15px;
}

.logo__subtext {
  color: #e4e5ea;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  flex: 0 1 72.5%;
  padding-top: 3px;
  gap: 10px;
}

.nav__item {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex: 0 1 27%;
  padding-top: 3px;
}

.header__number {
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  flex: 0 1 46.5%;
  gap: 10px;
  white-space: nowrap;
}

.header__apps {
  display: flex;
  justify-content: space-between;
  flex: 0 1 38%;
  gap: 5px;
}

.header__app {
  width: 20px;
  height: 20px;
}

/* MAIN */

.main {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.main__left {
  flex: 0 1 31%;
  /* transform: translate(-2px, 0); */
}

.title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
}

.subtitle {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  max-width: 275px;
}

.main__right {
  flex: 0 1 26%;
  text-align: right;
  padding-top: 18px;
}

.main-info__title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.main-info__emphasize {
  font-weight: 700;
  letter-spacing: 0.7px;
}

.main-info__gifts {
  margin-top: 42px;
}

.gifts-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(135px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.gift__name {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.gift__info {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  margin-top: 7px;
  line-height: 1.2;
  /* max-width: 160px; */
}

.main-info__button {
  max-width: 262px;
  height: 61px;
  background: #4077f3;
  margin-top: 61px;
  width: 100%;
  border: none;
}

.main-button__text {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  color: var(--light-text, #e4e5ea);
}

.emphasize {
  font-weight: 900;
  background: var(--gradient, linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
}
